input {
	file{
		path => "/home/batu/Desktop/project/allData.csv"
		start_position => "beginning"
		sincedb_path => "/dev/null"
		}
	}
filter {
	csv {
		separator => "¶"
		columns => ["query(ALL)","keyword(ALL)","data_source(ALL)","username(Twitter) || title(Reddit) || organization(Shodan)","name(Twitter) || ID(Reddit) || domain(Shodan)","location(Twitter)","creation_date(ALL)","text_data(ALL)","transport_protocol(Shodan)","Match_Check(ALL)",
		"isp(Shodan)","ip(Shodan)","Used_Port(Shodan)","post_url(Reddit)","post_score(Reddit)","hour_of_day(ALL)","tweet_score"]

		autogenerate_column_names=>false
		quote_char=>"'"
		skip_header=>true
		skip_empty_rows=>true
		skip_empty_columns=>true

		}
		geoip { source => "ip(Shodan)" }

		

		date {
    		match => ["creation_date(ALL)", "YYYY-MM-dd HH:mm:ss"]


		target => "creation_date(ALL)"}



	mutate {
		remove_field => ["message","host","path","@version","tags","_score","_id","_type","_index"]
		}

	}


output {
	elasticsearch {
		hosts => "127.0.0.1:9200"
		index => "logstash-data"
		document_type => "data"
	}
	stdout{}
}
